@model Posadmin.Models.TurnosModel
<div id="content">
   <section id="widget-grid" class="">
      <div class="row">

         <!-- NEW COL START -->
         <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-3"
                 data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-colorbutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">

               <header>
                  <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                  <h2>Turnos</h2>

               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->

                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body no-padding">
                     @foreach (KeyValuePair<string, ModelState> keyValuePair in ViewData.ModelState)
                     {
                        if (String.IsNullOrEmpty(keyValuePair.Key))
                        {
                           foreach (ModelError modelError in keyValuePair.Value.Errors)
                           {
                           <div class="alert adjusted alert-warning fade in">
                              <button class="close" data-dismiss="alert">
                                 ×
                              </button>
                              <i class="fa fa-fw fa-lg fa-exclamation-triangle"></i>
                              <strong>¡Oh No!</strong> <br />

                              @Html.Raw(HttpUtility.HtmlDecode(modelError.ErrorMessage))
                              <br />
                           </div>
                           }
                        }
                     }

                     @using (Html.BeginForm("TurnosRegister", "Turnos", FormMethod.Post, new { @id = "turnos-search", @name = "turnos-search", @class = "smart-form", @novalidate = "novalidate" }))
                     {
                     @Html.AntiForgeryToken()
                     <header>
                        @if (Model.Item.Instance == SoftwareFactory.Infrastructure.BusinessEntity.InstanceEntity.Added)
                        { <label>Ingresar Turnos</label>  }
                        else
                        { <label>Editar Turnos</label>  }
                     </header>
                     <fieldset>
                        <section class="hidden">
                           @Html.HiddenFor(model => Model.Item.Instance)
                           @Html.HiddenFor(model => Model.Item.EMPR_Interno)
                           @Html.HiddenFor(model => Model.Item.TURN_Interno)
                        </section>
                        <div class="row">
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.SUCU_Interno, new { @class = "label" })
                              <label class="select">
                                 @Html.DropDownListFor(model => model.Item.SUCU_Interno, new SelectList(string.Empty, "Value", "Text"), " < Seleccione Sucursal > ", new { @id = "SUCU_Interno" })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Seleccione una sucursal</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("SUCU_Interno")</div>
                           </section>
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.TURN_Nominacion, new { @class = "label" })
                              <label class="input">
                                 @Html.EditorFor(model => model.Item.TURN_Nominacion, new { htmlAttributes = new { @class = "", type = "text", name = "TURN_Nominacion", autocomplete = "off" } })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Ingrese una nominacion</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("TURN_Nominacion")</div>
                           </section>
                           <section class="col col-2" style="min-height:57px; margin-bottom:0px;">
                              @Html.LabelFor(model => model.Item.TURN_Activo, new { @class = "label" })
                              <label class="checkbox">
                                 @Html.EditorFor(model => model.Item.TURN_Activo, new { htmlAttributes = new { @class = "", type = "checkbox", name = "TURN_Activo" } })
                                 <i></i>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("TURN_Activo")</div>
                           </section>
                        </div>
                        <div class="row">
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.TURN_HoraInicio, new { @class = "label" })
                              <label class="input">
                                 @Html.EditorFor(model => model.Item.TURN_HoraInicio, new { htmlAttributes = new { @class = "", type = "time", name = "TURN_HoraInicio" } })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Ingrese una hora de inicio</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("TURN_HoraInicio")</div>
                           </section>
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.TURN_HoraFin, new { @class = "label" })
                              <label class="input">
                                 @Html.EditorFor(model => model.Item.TURN_HoraFin, new { htmlAttributes = new { @class = "", type = "time", name = "TURN_HoraFin" } })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Ingrese una hora de fin</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("TURN_HoraFin")</div>
                           </section>
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.TURN_Color, new { @class = "label" })
                              <label class="input">
                                 @Html.EditorFor(model => model.Item.TURN_Color, new { htmlAttributes = new { @class = "", type = "text", name = "TURN_Color", autocomplete = "off" } })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Ingrese una color (hexadecimal)</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("TURN_Color")</div>
                           </section>
                        </div>
                        <section>
                           @Html.LabelFor(model => model.Item.TURN_Descripcion, new { @class = "label" })
                           <label class="textarea">
                              @Html.TextAreaFor(model => Model.Item.TURN_Descripcion, new { rows = 5, htmlAttributes = new { @class = "", name = "TURN_Descripcion" } })
                              <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Ingrese una descripcion</b>
                           </label>
                           <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("TURN_Descripcion")</div>
                        </section>
                     </fieldset>
                     <footer>
                        <a href='@Url.Action("TurnosSearch", "Turnos")' class="btn btn-labeled btn-default" title="Volver" style="padding-left:10px; padding-right:10px;">
                           <span class="btn-label" style="padding-bottom:0px; padding-top:0px;"><i class="fa fa-undo"></i></span>
                           Volver
                        </a>
                        <button type="submit" class="btn btn-labeled btn-primary" title="Guardar" style="padding-left:10px; padding-right:10px;">
                           <span class="btn-label" style="padding-bottom:0px; padding-top:0px;"><i class="fa fa-save"></i></span>
                           Guardar
                        </button>
                     </footer>
                     }
                  </div>

                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- END COL -->
      </div>
   </section>
</div>


@section pagespecific {
   <script type="text/javascript">

      // DO NOT REMOVE : GLOBAL FUNCTIONS!

      $(document).ready(function () {
         renderComboSucursales($('#SUCU_Interno'), 'Sucursal',@Model.Item.SUCU_Interno, @Model.Item.SUCU_Interno);
      });


   </script>
}