@model Posadmin.Models.ConfiguracionesModel
<div id="content">
   <section id="widget-grid" class="">
      <div class="row">

         <!-- NEW COL START -->
         <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-3"
                 data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-colorbutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">

               <header>
                  <span class="widget-icon"> <i class="fa fa-edit"></i> </span>
                  <h2>Configuraciones</h2>

               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->

                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body no-padding">
                     @foreach (KeyValuePair<string, ModelState> keyValuePair in ViewData.ModelState)
                     {
                        if (String.IsNullOrEmpty(keyValuePair.Key))
                        {
                           foreach (ModelError modelError in keyValuePair.Value.Errors)
                           {
                           <div class="alert adjusted alert-warning fade in">
                              <button class="close" data-dismiss="alert">
                                 ×
                              </button>
                              <i class="fa fa-fw fa-lg fa-exclamation-triangle"></i>
                              <strong>¡Oh No!</strong> <br />

                              @Html.Raw(HttpUtility.HtmlDecode(modelError.ErrorMessage))
                              <br />
                           </div>
                           }
                        }
                     }

                     @using (Html.BeginForm("ConfiguracionesRegister", "Configuraciones", FormMethod.Post, new { @id = "configuraciones-search", @name = "configuraciones-search", @class = "smart-form", @novalidate = "novalidate" }))
                     {
                     @Html.AntiForgeryToken()
                     <header>
                        @if (Model.Item.Instance == SoftwareFactory.Infrastructure.BusinessEntity.InstanceEntity.Added)
                        { <label>Ingresar Configuraciones</label>  }
                        else
                        { <label>Editar Configuraciones</label>  }
                     </header>
                     <fieldset>
                        <section class="hidden">
                           @Html.HiddenFor(model => Model.Item.Instance)
                           @Html.HiddenFor(model => Model.Item.EMPR_Interno)
                        </section>
                        <div class="row">
                           @if (Model.Item.Instance == SoftwareFactory.Infrastructure.BusinessEntity.InstanceEntity.Added)
                           {
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.USUA_Interno, new { @class = "label" })
                              <label class="select">
                                 @Html.DropDownListFor(model => model.Item.USUA_Interno, new SelectList(string.Empty, "Value", "Text"), " < Seleccione Usuario > ", new { @id = "USUA_Interno" })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Seleccione un usuario</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("USUA_Interno")</div>
                           </section>
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.CONF_Llave, new { @class = "label" })
                              <label class="input">
                                 @Html.EditorFor(model => model.Item.CONF_Llave, new { htmlAttributes = new { @class = "", type = "text", name = "CONF_Llave", maxlength = "5", autocomplete = "off" } })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Ingrese una llave</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("CONF_Llave")</div>
                           </section>
                           }
                           else
                           {
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.USUA_Interno, new { @class = "label" })
                              <label class="select">
                                 @Html.HiddenFor(model => Model.Item.USUA_Interno)
                                 @Html.DropDownListFor(model => model.Item.USUA_Interno, new SelectList(string.Empty, "Value", "Text"), " < Seleccione Usuario > ", new { @id = "USUA_Interno", @disabled = "disabled" })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Seleccione un usuario</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("USUA_Interno")</div>
                           </section>
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.CONF_Llave, new { @class = "label" })
                              <label class="input">
                                 @Html.HiddenFor(model => Model.Item.CONF_Llave)
                                 @Html.EditorFor(model => model.Item.CONF_Llave, new { htmlAttributes = new { @class = "", type = "text", name = "CONF_Llave", maxlength = "5", autocomplete = "off", @disabled = "disabled" } })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Ingrese una llave</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("CONF_Llave")</div>
                           </section>
                           }
                           <section class="col col-4">
                              @Html.LabelFor(model => model.Item.CONF_Valor, new { @class = "label" })
                              <label class="input">
                                 @Html.EditorFor(model => model.Item.CONF_Valor, new { htmlAttributes = new { @class = "", type = "text", name = "CONF_Valor", autocomplete = "off" } })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Ingrese un valor</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("CONF_Valor")</div>
                           </section>
                        </div>
                        <section>
                           @Html.LabelFor(model => model.Item.CONF_Descripcion, new { @class = "label" })
                           <label class="textarea">
                              @Html.TextAreaFor(model => Model.Item.CONF_Descripcion, new { rows = 5, htmlAttributes = new { @class = "", name = "CONF_Descripcion" } })
                              <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Ingrese una descripcion</b>
                           </label>
                           <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("CONF_Descripcion")</div>
                        </section>
                     </fieldset>
                     <footer>
                        <a href='@Url.Action("ConfiguracionesSearch", "Configuraciones")' class="btn btn-labeled btn-default" title="Volver" style="padding-left:10px; padding-right:10px;">
                           <span class="btn-label" style="padding-bottom:0px; padding-top:0px;"><i class="fa fa-undo"></i></span>
                           Volver
                        </a>
                        <button type="submit" class="btn btn-labeled btn-primary" title="Guardar" style="padding-left:10px; padding-right:10px;">
                           <span class="btn-label" style="padding-bottom:0px; padding-top:0px;"><i class="fa fa-save"></i></span>
                           Guardar
                        </button>
                     </footer>
                     }
                  </div>

                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- END COL -->
      </div>
   </section>
</div>

@section pagespecific {
   <script type="text/javascript">

      // DO NOT REMOVE : GLOBAL FUNCTIONS!

      $(document).ready(function () {
         renderComboUsuarios($('#USUA_Interno'), 'Usuario',@Model.Item.EMPR_Interno, @Model.Item.USUA_Interno);
      });


   </script>
}