@model Posadmin.Models.IndicadoresMensualesModel
<div id="content">
   <section id="widget-grid" class="">
      <!-- row -->
      <div class="row">
         <!-- NEW COL START -->
         <article class="col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-3"
                 data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-colorbutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">

               <header>
                  <span class="widget-icon"> <i class="fa fa-filter"></i> </span>
                  <h2>Filtros</h2>

               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->

                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body no-padding">
                     @foreach (KeyValuePair<string, ModelState> keyValuePair in ViewData.ModelState)
                     {
                        if (String.IsNullOrEmpty(keyValuePair.Key))
                        {
                           foreach (ModelError modelError in keyValuePair.Value.Errors)
                           {
                           <div class="alert adjusted alert-warning fade in">
                              <button class="close" data-dismiss="alert">
                                 ×
                              </button>
                              <i class="fa fa-fw fa-lg fa-exclamation-triangle"></i>
                              <strong>¡Oh No!</strong> <br />

                              @Html.Raw(HttpUtility.HtmlDecode(modelError.ErrorMessage))
                              <br />
                           </div>
                           }
                        }
                     }

                     @using (Html.BeginForm("IndicadoresMensualesSearch", "IndicadoresMensuales", FormMethod.Post, new { @id = "mensuales-search", @name = "mensuales-search", @class = "smart-form", @novalidate = "novalidate" }))
                     {
                     @Html.AntiForgeryToken()
                     <fieldset>
                        <section class="hidden">
                           @Html.HiddenFor(model => Model.InternoEmpresa)
                           @Html.HiddenFor(model => Model.InternoSucursal)
                        </section>
                        <div class="row">
                           <section class="col col-4">
                              @Html.LabelFor(model => model.FiltroSucursal, new { @class = "label" })
                              <label class="select">
                                 @Html.DropDownListFor(model => model.FiltroSucursal, new SelectList(string.Empty, "Value", "Text"), " < Seleccione Sucursal > ", new { @id = "FiltroSucursal" })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Seleccione una sucursal</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("FiltroSucursal")</div>
                           </section>
                           <section class="col col-4">
                              @Html.LabelFor(model => model.FiltroAnio, new { @class = "label" })
                              <label class="select">
                                 @Html.DropDownListFor(model => model.FiltroAnio, new SelectList(string.Empty, "Value", "Text"), " < Seleccione Año > ", new { @id = "FiltroAnio" })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Seleccione una sucursal</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("FiltroAnio")</div>
                           </section>
                           <section class="col col-4">
                              @Html.LabelFor(model => model.FiltroMes, new { @class = "label" })
                              <label class="select">
                                 @Html.DropDownListFor(model => model.FiltroMes, new SelectList(string.Empty, "Value", "Text"), " < Seleccione Mes > ", new { @id = "FiltroMes" })
                                 <b class="tooltip tooltip-top-right"><i class="fa fa-info-circle txt-color-teal"></i> Seleccione una sucursal</b>
                              </label>
                              <div class="note note-error" style="font-style: normal; font-size: 11px; line-height: 15px; color: #D56161;">@Html.ValidationMessage("FiltroMes")</div>
                           </section>
                        </div>
                     </fieldset>
                     <footer>
                        <button type="submit" class="btn btn-labeled btn-primary" title="Refrescar" style="padding-left:10px; padding-right:10px;">
                           <span class="btn-label" style="padding-bottom:0px; padding-top:0px;"><i class="fa fa-retweet"></i></span>
                           Refrescar
                        </button>
                     </footer>
                     }
                  </div>

                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->

         </article>
         <!-- END COL -->
      </div>
      <!-- end row -->
      <!-- row -->
      <div class="row">
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                   usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                   data-widget-colorbutton="false"
                   data-widget-editbutton="false"
                   data-widget-togglebutton="false"
                   data-widget-deletebutton="false"
                   data-widget-fullscreenbutton="false"
                   data-widget-custombutton="false"
                   data-widget-collapsed="true"
                   data-widget-sortable="false"

               -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Informe Registros</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="chartregistrosmes" height="200"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-11" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                   usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                   data-widget-colorbutton="false"
                   data-widget-editbutton="false"
                   data-widget-togglebutton="false"
                   data-widget-deletebutton="false"
                   data-widget-fullscreenbutton="false"
                   data-widget-custombutton="false"
                   data-widget-collapsed="true"
                   data-widget-sortable="false"

               -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Top 5 Dias</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="charttoprecaudaciondia" height="200"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-12" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
             usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

             data-widget-colorbutton="false"
             data-widget-editbutton="false"
             data-widget-togglebutton="false"
             data-widget-deletebutton="false"
             data-widget-fullscreenbutton="false"
             data-widget-custombutton="false"
             data-widget-collapsed="true"
             data-widget-sortable="false"

         -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Informe Reservas</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="chartreservasmes" height="200"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
      </div>
      <!-- end row -->
      <!-- row -->
      <div class="row">
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-13" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                   usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                   data-widget-colorbutton="false"
                   data-widget-editbutton="false"
                   data-widget-togglebutton="false"
                   data-widget-deletebutton="false"
                   data-widget-fullscreenbutton="false"
                   data-widget-custombutton="false"
                   data-widget-collapsed="true"
                   data-widget-sortable="false"

               -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Hab. mas Usadas</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="charthabitacionesusadas" height="200"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-14" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                   usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                   data-widget-colorbutton="false"
                   data-widget-editbutton="false"
                   data-widget-togglebutton="false"
                   data-widget-deletebutton="false"
                   data-widget-fullscreenbutton="false"
                   data-widget-custombutton="false"
                   data-widget-collapsed="true"
                   data-widget-sortable="false"

               -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Hab. mas Ingresos</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="charthabitacionesingresos" height="200"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
      </div>
      <!-- end row -->
      <!-- row -->
      <div class="row">
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-15" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                   usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                   data-widget-colorbutton="false"
                   data-widget-editbutton="false"
                   data-widget-togglebutton="false"
                   data-widget-deletebutton="false"
                   data-widget-fullscreenbutton="false"
                   data-widget-custombutton="false"
                   data-widget-collapsed="true"
                   data-widget-sortable="false"

               -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Visitas por Turno</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="chartvisitasturnos" height="250"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-16" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                   usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                   data-widget-colorbutton="false"
                   data-widget-editbutton="false"
                   data-widget-togglebutton="false"
                   data-widget-deletebutton="false"
                   data-widget-fullscreenbutton="false"
                   data-widget-custombutton="false"
                   data-widget-collapsed="true"
                   data-widget-sortable="false"

               -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Ventas por Turno</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="chartventasturnos" height="250"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
      </div>
      <!-- end row -->
      <!-- row -->
      <div class="row">
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-17" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

            -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Top Usuarios Registros</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="charttopusuariosregistros" height="200"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-18" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

            -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Top Usuarios Ventas</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="charttopusuariosventas" height="200"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-19" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

            -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Top Huesped</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="charttophuespedvisitas" height="200"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
      </div>
      <!-- end row -->
      <!-- row -->
      <div class="row">
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-20" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

            -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Visitas por Dia</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="chartvisitasdia" height="250"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
         <!-- NEW WIDGET START -->
         <article class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-21" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-sortable="false">
               <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

            -->
               <header>
                  <span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
                  <h2>Ventas por Dia</h2>
               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->
                     <input class="form-control" type="text">
                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body">

                     <!-- this is what the user will see -->
                     <canvas id="chartmontosdia" height="250"></canvas>

                  </div>
                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
         </article>
         <!-- WIDGET END -->
      </div>
      <!-- end row -->
   </section>
</div>

@section pagespecific {
   @*<script src="~/Scripts/chart/250/Chart.min.js"></script>*@
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
   <script type="text/javascript">

      // DO NOT REMOVE : GLOBAL FUNCTIONS!

      $(document).ready(function () {
         renderComboSucursales($('#FiltroSucursal'), 'Sucursal',@Model.InternoEmpresa, @Model.FiltroSucursal);
         renderComboAnios($('#FiltroAnio'), @Model.FiltroAnio);
         renderComboMeses($('#FiltroMes'), @Model.FiltroMes);
      });

      // CHART - INFORME REGISTROS
      $.ajax({
         type: "GET",
         url: 'GetIndicadorRegistrosMesJSON',
         success: function (result) {
            var sumtotal = 0;
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Registros.map(function (e) {
               return e.Estados;
            });
            var data1 = jsonfile.Registros.map(function (e) {
               return e.Cantidad;
            });
            var colors = [getRandomColor()];
            for (x = 1; x < labels.length; x++) {
               colors.push(getRandomColor());
            };
            for (x = 0; x < data1.length; x++) {
               sumtotal = sumtotal + data1[x];
            };
            new Chart(document.getElementById("chartregistrosmes"), {
               type: 'polarArea',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Cantidad",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  title: {
                     display: true,
                     text: 'Informe de Registros (Segun Fecha de Ingreso)'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " registro(s)";
                        },
                        afterLabel: function (tooltipItem, data) {
                           var dataset = data['datasets'][0];
                           var percent = parseFloat((dataset['data'][tooltipItem['index']] * 100) / sumtotal).toFixed(2);
                           return '(' + percent + '%)';
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });
         }
      });
      // END CHART

      // CHART - TOP DIA MAYOR VENTA
      $.ajax({
         type: "GET",
         url: 'GetIndicadorTopRecaudacionDiaJSON',
         success: function (result) {
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Recaudacion.map(function (e) {
               return e.Dia;
            });
            var data1 = jsonfile.Recaudacion.map(function (e) {
               return e.Monto;
            });
            var colors = [getRandomColor()];
            for (x=1;x<labels.length;x++){
               colors.push(getRandomColor());
            };
            new Chart(document.getElementById("charttoprecaudaciondia"), {
               type: 'horizontalBar',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Cant. Visitas",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  legend: { display: false },
                  title: {
                     display: true,
                     text: 'Dias con Mayor Recaudacion (Top 5)'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return "Monto Recaudado: " + (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });

         }
      });
      // END CHART

      // CHART - INFORME RESERVAS
      $.ajax({
         type: "GET",
         url: 'GetIndicadorReservasMesJSON',
         success: function (result) {
            var sumtotal = 0;
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Reservas.map(function (e) {
               return e.Estados;
            });
            var data1 = jsonfile.Reservas.map(function (e) {
               return e.Cantidad;
            });
            var colors = [getRandomColor()];
            for (x = 1; x < labels.length; x++) {
               colors.push(getRandomColor());
            };
            for (x = 0; x < data1.length; x++) {
               sumtotal = sumtotal + data1[x];
            };
            new Chart(document.getElementById("chartreservasmes"), {
               type: 'polarArea',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Cantidad",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  title: {
                     display: true,
                     text: 'Informe de Reservas (Segun Fecha de Registro)'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " reserva(s)";
                        },
                        afterLabel: function (tooltipItem, data) {
                           var dataset = data['datasets'][0];
                           var percent = parseFloat((dataset['data'][tooltipItem['index']] * 100) / sumtotal).toFixed(2);
                           return '(' + percent + '%)';
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });
         }
      });
      // END CHART

      // CHART - HABITACIONES USADAS
      $.ajax({
         type: "GET",
         url: 'GetIndicadorHabitacionesUsadasJSON',
         success: function (result) {
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Visitas.map(function (e) {
               return e.Habitaciones;
            });
            var data1 = jsonfile.Visitas.map(function (e) {
               return e.Cantidad;
            });
            var colors = [getRandomColor()];
            for (x = 1; x < labels.length; x++) {
               colors.push(getRandomColor());
            };
            new Chart(document.getElementById("charthabitacionesusadas"), {
               type: 'horizontalBar',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Visitas",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  legend: { display: false },
                  title: {
                     display: true,
                     text: 'Visitas por Habitacion'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " visitas";
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });
         }
      });
      // END CHART

      // CHART - HABITACIONES INGRESOS
      $.ajax({
         type: "GET",
         url: 'GetIndicadorHabitacionesIngresosJSON',
         success: function (result) {
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Ventas.map(function (e) {
               return e.Habitaciones;
            });
            var data1 = jsonfile.Ventas.map(function (e) {
               return e.Monto;
            });
            var colors = [getRandomColor()];
            for (x = 1; x < labels.length; x++) {
               colors.push(getRandomColor());
            };
            new Chart(document.getElementById("charthabitacionesingresos"), {
               type: 'horizontalBar',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Ingresos",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  legend: { display: false },
                  title: {
                     display: true,
                     text: 'Ingresos por Habitacion'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return "Monto Recaudado: " + (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });
         }
      });
      // END CHART

      // CHART - VISITAS TURNOS
      $.ajax({
         type: "GET",
         url: 'GetIndicadorVisitasTurnoJSON',
         success: function (result) {
            var sumtotal = 0;
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Visitas.map(function (e) {
               return e.Turnos;
            });
            var data1 = jsonfile.Visitas.map(function (e) {
               return e.Cantidad;
            });
            var colors = [getRandomColor()];
            for (x = 1; x < labels.length; x++) {
               colors.push(getRandomColor());
            };
            for (x = 0; x < data1.length; x++) {
               sumtotal = sumtotal + data1[x];
            };
            new Chart(document.getElementById("chartvisitasturnos"), {
               type: 'polarArea',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Visitas",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  title: {
                     display: true,
                     text: 'Visitas por Turno'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " visitas";
                        },
                        afterLabel: function (tooltipItem, data) {
                           var dataset = data['datasets'][0];
                           var percent = parseFloat((dataset['data'][tooltipItem['index']] * 100) / sumtotal).toFixed(2);
                           return '(' + percent + '%)';
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });
         }
      });
      // END CHART

      // CHART - MONTOS TURNO
      $.ajax({
         type: "GET",
         url: 'GetIndicadorMontosTurnoJSON',
         success: function (result) {
            var sumtotal = 0;
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Ventas.map(function (e) {
               return e.Turnos;
            });
            var data1 = jsonfile.Ventas.map(function (e) {
               return e.Monto;
            });
            var colors = [getRandomColor()];
            for (x = 1; x < labels.length; x++) {
               colors.push(getRandomColor());
            };
            for (x = 0; x < data1.length; x++) {
               sumtotal = sumtotal + data1[x];
            };
            new Chart(document.getElementById("chartventasturnos"), {
               type: 'pie',
               data: {
                  labels: labels,
                  datasets: [{
                     label: "Total",
                     backgroundColor: colors,
                     data: data1
                  }]
               },
               options: {
                  title: {
                     display: true,
                     text: 'Monto Generado por Turno (Segun Fecha de Registro)'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return "Total: " + (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        },
                        afterLabel: function (tooltipItem, data) {
                           var dataset = data['datasets'][0];
                           var percent = parseFloat((dataset['data'][tooltipItem['index']] * 100) / sumtotal).toFixed(2);
                           return '(' + percent + '%)';
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });
         }
      });
      // END CHART

      // CHART - TOP USUARIOS REGISTROS
      $.ajax({
         type: "GET",
         url: 'GetIndicadorTopUsuariosRegistrosJSON',
         success: function (result) {
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Registros.map(function (e) {
               return e.Usuario;
            });
            var data1 = jsonfile.Registros.map(function (e) {
               return e.Total;
            });
            var colors = [getRandomColor()];
            for (x=1;x<labels.length;x++){
               colors.push(getRandomColor());
            };
            new Chart(document.getElementById("charttopusuariosregistros"), {
               type: 'horizontalBar',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Total",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  legend: { display: false },
                  title: {
                     display: true,
                     text: 'Usuarios con Mayor Registros (Top 5)'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " visitas";
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });

         }
      });
      // END CHART

      // CHART - TOP USUARIOS VENTAS
      $.ajax({
         type: "GET",
         url: 'GetIndicadorTopUsuariosVentasJSON',
         success: function (result) {
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Ventas.map(function (e) {
               return e.Usuario;
            });
            var data1 = jsonfile.Ventas.map(function (e) {
               return e.Total;
            });
            var colors = [getRandomColor()];
            for (x=1;x<labels.length;x++){
               colors.push(getRandomColor());
            };
            new Chart(document.getElementById("charttopusuariosventas"), {
               type: 'horizontalBar',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Total",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  legend: { display: false },
                  title: {
                     display: true,
                     text: 'Usuarios con Mayor Ventas (Top 5)'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return "Total generado: " + (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });

         }
      });
      // END CHART

      // CHART - TOP HUESPED VISITAS
      $.ajax({
         type: "GET",
         url: 'GetIndicadorTopHuespedJSON',
         success: function (result) {
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Visitas.map(function (e) {
               return e.Huesped;
            });
            var data1 = jsonfile.Visitas.map(function (e) {
               return e.Cantidad;
            });
            var colors = [getRandomColor()];
            for (x=1;x<labels.length;x++){
               colors.push(getRandomColor());
            };
            new Chart(document.getElementById("charttophuespedvisitas"), {
               type: 'horizontalBar',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Total",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  legend: { display: false },
                  title: {
                     display: true,
                     text: 'Huesped con mas Visitas (Top 5)'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " visitas";
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });

         }
      });
      // END CHART

      // CHART - VISITAS DIA
      $.ajax({
         type: "GET",
         url: 'GetIndicadorVisitasDiaJSON',
         success: function (result) {
            var sumtotal = 0;
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Visitas.map(function (e) {
               return e.Dias;
            });
            var data1 = jsonfile.Visitas.map(function (e) {
               return e.Cantidad;
            });
            var colors = [getRandomColor()];
            for (x = 1; x < labels.length; x++) {
               colors.push(getRandomColor());
            };
            for (x = 0; x < data1.length; x++) {
               sumtotal = sumtotal + data1[x];
            };
            new Chart(document.getElementById("chartvisitasdia"), {
               type: 'polarArea',
               data: {
                  labels: labels,
                  datasets: [
                    {
                       label: "Visitas",
                       backgroundColor: colors,
                       data: data1
                    }
                  ]
               },
               options: {
                  title: {
                     display: true,
                     text: 'Visitas por Dia'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + " visitas";
                        },
                        afterLabel: function (tooltipItem, data) {
                           var dataset = data['datasets'][0];
                           var percent = parseFloat((dataset['data'][tooltipItem['index']] * 100) / sumtotal).toFixed(2);
                           return '(' + percent + '%)';
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });
         }
      });
      // END CHART

      // CHART - MONTOS DIA
      $.ajax({
         type: "GET",
         url: 'GetIndicadorMontosDiaJSON',
         success: function (result) {
            var sumtotal = 0;
            var jsonfile = JSON.parse(result);
            var labels = jsonfile.Ventas.map(function (e) {
               return e.Dias;
            });
            var data1 = jsonfile.Ventas.map(function (e) {
               return e.Monto;
            });
            var colors = [getRandomColor()];
            for (x = 1; x < labels.length; x++) {
               colors.push(getRandomColor());
            };
            for (x = 0; x < data1.length; x++) {
               sumtotal = sumtotal + data1[x];
            };
            new Chart(document.getElementById("chartmontosdia"), {
               type: 'pie',
               data: {
                  labels: labels,
                  datasets: [{
                     label: "Monto",
                     backgroundColor: colors,
                     data: data1
                  }]
               },
               options: {
                  title: {
                     display: true,
                     text: 'Monto por Dia (Segun Fecha de Pago)'
                  },
                  tooltips: {
                     callbacks: {
                        title: function (tooltipItem, data) {
                           return data['labels'][tooltipItem[0]['index']];
                        },
                        label: function (tooltipItem, data) {
                           return (data['datasets'][0]['data'][tooltipItem['index']]).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                        },
                        afterLabel: function (tooltipItem, data) {
                           var dataset = data['datasets'][0];
                           var percent = parseFloat((dataset['data'][tooltipItem['index']] * 100) / sumtotal).toFixed(2);
                           return '(' + percent + '%)';
                        }
                     },
                     backgroundColor: '#FFF',
                     titleFontSize: 16,
                     titleFontColor: '#0066ff',
                     bodyFontColor: '#000',
                     bodyFontSize: 14,
                     displayColors: false
                  }
               }
            });
         }
      });
      // END CHART

   </script>
}