@model Posadmin.Models.RetirosModel
<div id="content">
   <section id="widget-grid" class="">
      <div class="row">

         <!-- NEW COL START -->
         <article class="col-sm-12 col-md-12 col-lg-12">

            @if (Model.ItemsRetiros != null && Model.ItemsRetiros.Count > 0)
            {
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-1"
                 data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-colorbutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">

               <header>
                  <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                  <h2>Ultimos 5 Retiros</h2>

               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->

                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body no-padding">
                     @foreach (KeyValuePair<string, ModelState> keyValuePair in ViewData.ModelState)
                     {
                        if (String.IsNullOrEmpty(keyValuePair.Key))
                        {
                           foreach (ModelError modelError in keyValuePair.Value.Errors)
                           {
                           <div class="alert adjusted alert-warning fade in">
                              <button class="close" data-dismiss="alert">
                                 ×
                              </button>
                              <i class="fa fa-fw fa-lg fa-exclamation-triangle"></i>
                              <strong>¡Oh No!</strong> <br />

                              @Html.Raw(HttpUtility.HtmlDecode(modelError.ErrorMessage))
                              <br />
                           </div>
                           }
                        }
                     }
                     <div class="table-responsive">
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                 <th class="text-center">Fecha Retiro</th>
                                 <th class="text-center">Usuario</th>
                                 <th class="text-center">Monto Entregado</th>
                              </tr>
                           </thead>
                           <tbody>
                              @foreach (var cierre in Model.ItemsRetiros)
                              {
                              <tr>
                                 <td>
                                    <div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                       @{ String sDisplayFecha = String.Format("{0:dd/MM/yyyy HH:mm}", cierre.RETI_FechaHoraRegistro); }
                                       @sDisplayFecha
                                    </div>
                                 </td>
                                 <td>
                                    <div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                       @Html.DisplayFor(modelItem => cierre.RETI_NombreUsuario)
                                    </div>
                                 </td>
                                 <td class="success">
                                    <div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                       @{ String sDisplayEntregado = String.Format("{0:##,##0.00}", cierre.RETI_MontoEntregado); }
                                       @sDisplayEntregado
                                    </div>
                                 </td>
                              </tr>
                                         }
                           </tbody>
                        </table>
                     </div>
                  </div>

                  <!-- end widget content -->

               </div>
               <!-- end widget div -->

            </div>
            <!-- end widget -->
                                         }
            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-2"
                 data-widget-editbutton="false"
                 data-widget-deletebutton="false"
                 data-widget-colorbutton="false"
                 data-widget-fullscreenbutton="false"
                 data-widget-collapsed="false"
                 data-widget-sortable="false">

               <header>
                  <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                  <h2>Historial de Cierres</h2>

               </header>

               <!-- widget div-->
               <div>

                  <!-- widget edit box -->
                  <div class="jarviswidget-editbox">
                     <!-- This area used as dropdown edit box -->

                  </div>
                  <!-- end widget edit box -->
                  <!-- widget content -->
                  <div class="widget-body no-padding">
                     @foreach (KeyValuePair<string, ModelState> keyValuePair in ViewData.ModelState)
                     {
                        if (String.IsNullOrEmpty(keyValuePair.Key) || keyValuePair.Key.Equals("Cierre"))
                        {
                           foreach (ModelError modelError in keyValuePair.Value.Errors)
                           {
                           <div class="alert adjusted alert-warning fade in">
                              <button class="close" data-dismiss="alert">
                                 ×
                              </button>
                              <i class="fa fa-fw fa-lg fa-exclamation-triangle"></i>
                              <strong>¡Oh No!</strong> <br />

                              @Html.Raw(HttpUtility.HtmlDecode(modelError.ErrorMessage))
                              <br />
                           </div>
                           }
                        }
                     }
                     <div class="table-responsive">
                        <table class="table table-hover">
                           <thead>
                              <tr>
                                 <th class="text-center">Fecha y Hora</th>
                                 <th class="text-center">Usuario</th>
                                 <th class="text-center">Monto Real</th>
                                 <th class="text-center">Monto Extra</th>
                                 <th class="text-center">Monto Demas</th>
                                 <th class="text-center">Total</th>
                              </tr>
                           </thead>
                           @if (Model.ItemsCierres != null && Model.ItemsCierres.Count > 0)
                           {
                           <tbody>
                              @foreach (var cierre in Model.ItemsCierres)
                              {
                              <tr>
                                 <td>
                                    <div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                       @{ String sDisplayFecha = String.Format("{0:dd/MM/yyyy HH:mm}", cierre.CIER_FechaHoraRegistro); }
                                       @sDisplayFecha
                                    </div>
                                 </td>
                                 <td>
                                    <div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                       @Html.DisplayFor(modelItem => cierre.CIER_NombreUsuario)
                                    </div>
                                 </td>
                                 <td>
                                    <div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                       @{ String sDisplayReal = String.Format("{0:##,##0.00}", cierre.CIER_MontoReal); }
                                       @sDisplayReal
                                    </div>
                                 </td>
                                 <td>
                                    <div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                       @{ String sDisplayExtra = String.Format("{0:##,##0.00}", cierre.CIER_MontoExtra); }
                                       @sDisplayExtra
                                    </div>
                                 </td>
                                 <td>
                                    <div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                       @{ String sDisplayDemas = String.Format("{0:##,##0.00}", cierre.CIER_MontoDemas); }
                                       @sDisplayDemas
                                    </div>
                                 </td>
                                 <td class="success">
                                    <div style="overflow:hidden;white-space:nowrap;text-overflow:ellipsis;">
                                       @{ String sDisplayTotal = String.Format("{0:##,##0.00}", cierre.CIER_Total); }
                                       @sDisplayTotal
                                    </div>
                                 </td>
                              </tr>
                                         }
                           </tbody>
                                         }
                           <tfoot>
                              <tr class="info">
                                 <td colspan="6" class="text-right font-lg"><strong>@String.Format("Total: ***{0:##,##0.00}***", @Model.TotalCierres)</strong></td>
                              </tr>
                           </tfoot>
                        </table>
                     </div>
                  </div>

                  <!-- end widget content -->

               </div>
               <!-- end widget div -->
               <!-- widget content -->
               @if (Model.ItemsCierres != null && Model.ItemsCierres.Count > 0)
               {
               <div class="widget-body" align="right">
                  <ul class="demo-btns">
                     <li>
                        <a href='@Url.Action("RetirosSearch", "Retiros", new { Calcular = true })' class="btn btn-labeled btn-primary" title="Retirar">
                           <span class="btn-label"><i class="glyphicon glyphicon-asterisk"></i></span>
                           Retirar
                        </a>
                     </li>
                  </ul>
               </div>
               }
               <!-- end widget content -->
            </div>
            <!-- end widget -->

         </article>
         <!-- END COL -->

      </div>

   </section>
</div>

@section pagespecific {
   <script type="text/javascript">

      // DO NOT REMOVE : GLOBAL FUNCTIONS!

      $(document).ready(function () { });


   </script>
}